@font-face {
  font-family: 'Arcon Regular';
  src: url('/fonts/arcon-regular-webfont.eot');
  src: url('/fonts/arcon-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('/fonts/arcon-regular-webfont.woff2') format('woff2'),
       url('/fonts/arcon-regular-webfont.woff') format('woff'),
       url('/fonts/arcon-regular-webfont.ttf') format('truetype'),
       url('/fonts/arcon-regular-webfont.svg#arconregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

html,
body {
  font-family: "Arcon Regular";
  font-weight: normal;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}